/*** Нестандартные шрифты
============================================================*/

@font-face {
	font-family: "Gilroy Light";
	src: local("Gilroy Light"),
		url("../fonts/gilroylight.woff"),
		url("../fonts/gilroylight.woff2");
}

@font-face {
	font-family: "Gilroy Extrabold";
	src: local("Gilroy Extrabold"),
		url("../fonts/gilroyextrabold.woff"),
		url("../fonts/gilroyextrabold.woff2");
}

@font-face {
	font-family: "Open Sans";
	src: local("Open Sans"),
		url("../fonts/opensans.woff"),
		url("../fonts/opensans.woff2");
}

@font-face {
	font-family: "Open Sans Light";
	src: local("Open Sans Light"),
		url("../fonts/opensanslight.woff"),
		url("../fonts/opensanslight.woff2");
}

/*** Анимация
============================================================*/

@-webkit-keyframes modal-show {
	0% {
		-webkit-transform: scale(0);
		        transform: scale(0);
	}
	40% {
		-webkit-transform: scale(1.03);
		        transform: scale(1.03);
	}
	100% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}

@keyframes modal-show {
	0% {
		-webkit-transform: scale(0);
		        transform: scale(0);
	}
	40% {
		-webkit-transform: scale(1.03);
		        transform: scale(1.03);
	}
	100% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}

@-webkit-keyframes shake {
	0%, 100% {
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}
	10%, 30%, 50%, 70%, 90% {
		-webkit-transform: translateX(-10px);
		        transform: translateX(-10px);
	}
	20%, 40%, 60%, 80% {
		-webkit-transform: translateX(10px);
		        transform: translateX(10px);
	}
}

@keyframes shake {
	0%, 100% {
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}
	10%, 30%, 50%, 70%, 90% {
		-webkit-transform: translateX(-10px);
		        transform: translateX(-10px);
	}
	20%, 40%, 60%, 80% {
		-webkit-transform: translateX(10px);
		        transform: translateX(10px);
	}
}

/*** Общие правила
============================================================*/

body {
	margin: 0;
	padding: 0;
	font-family: "Gilroy Extrabold", Arial, sans-serif;
	font-size: 12px;
	line-height: 24px;
	color: #464646;
	background-color: #ffffff;
}

.container {
	width: 1160px;
	margin: 0 auto;
	padding: 0 20px;
}

a {
	text-decoration: none;
}

body ul {
	margin: 0;
	padding: 0;
}

.title {
	margin: 0;
	padding: 0;
	color: #000000;
	font-size: 47px;
	line-height: 1;
	letter-spacing: 0.45px;
}

.visually-hidden {
	position: absolute; 
	width: 1px; 
	height: 1px; 
	margin: -1px; 
	padding: 0; 
	overflow: hidden; 
	border: 0; 
	clip: rect(0 0 0 0); 
}

.flex-container {
	display: flex;
}

.fix-min-width {
	min-width: 1200px;
}

.text {
	margin: 0;
	padding: 0;
	font-family: "Open Sans Light", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	letter-spacing: 0.2px;
}

/*** Кнопки
========================*/

.button {
	border: none;
	cursor: pointer;
	outline: none;
	width: 220px;
	color: black;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3.5px;
	padding: 8px 0;
	background: linear-gradient(to bottom,
		transparent 0%,
		transparent 16px,
		#f0c52e 16px,
		#f0c52e 24px,
		transparent 24px,
		transparent 100%);
}

.button:hover,
.button:focus {
	background-image: linear-gradient(to bottom,
		#f0c52e 0%,
		#f0c52e 100%);
}

.button:active {
	color: rgba(0, 0, 0, 0.3);
}

/*** Шапка
========================*/

.header-background {
	padding-top: 20px;
	background-image: linear-gradient(to bottom,
		#ffffff 0%,
		#ffffff 40px,
		#f7e296 40px,
		#f7e296 100%);
}

.main-header ul {
	list-style: none;
}

.header-row {
	margin-bottom: 30px;
	font-family: "Open Sans Light", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
}

.main-header a {
	color: #000000;
}

.logo {
	margin-left: 60px;
	margin-right: 60px;
	margin-bottom: 10px;
}

.main-header a:hover,
.main-header a:focus {
	fill-opacity: 0.6;
	color: rgba(0, 0, 0, 0.6);
}

.main-header a:active {
	fill-opacity: 0.3;
	color: rgba(0, 0, 0, 0.3);
}

.header-row {
	justify-content: space-between;
	align-items: center;
}

.search {
	margin-left: 60px;
}

.search-input {
	order: 1;
	width: 355px;
	height: 48px;
	padding: 0 20px 0 40px;
	border: none;
	letter-spacing: 0.2px;
	color: #000000;
	outline: none;
	border-bottom: 2px solid transparent;
	background-color: transparent;
	background-image: url("../img/svg/search.svg");
	background-position: left;
	background-repeat: no-repeat;
}

.search-input:-ms-input-placeholder {
	opacity: 0.3;
}

.search-input::-webkit-input-placeholder {
	opacity: 0.3;
}

.search-input::-ms-input-placeholder {
	opacity: 0.3;
}

.search-input::placeholder {
	opacity: 0.3;
}

.search-input:hover:-ms-input-placeholder {
	opacity: 0.6;
}

.search-input:hover::-webkit-input-placeholder {
	opacity: 0.6;
}

.search-input:hover::-ms-input-placeholder {
	opacity: 0.6;
}

.search-input:hover::placeholder {
	opacity: 0.6;
}

.search-input:focus:-ms-input-placeholder {
	opacity: 1;
}

.search-input:focus::-webkit-input-placeholder {
	opacity: 1;
}

.search-input:focus::-ms-input-placeholder {
	opacity: 1;
}

.search-input:focus::placeholder {
	opacity: 1;
}

.search-input:focus, 
.search-input:active,
.search-input:focus ~ .search-input-label, 
.search-input:active ~ .search-input-label {
	border-bottom-color: #000000;
}

.search-input:focus ~ .search-button, 
.search-input:active ~ .search-button,
.search-button:focus,
.search-button:active {
	opacity: 1;
}

.search-button {
	order: 2;
	opacity: 0;
	width: 84px;
	border: 2px solid #000000;
	background-color: transparent;
}

.search-button:hover,
.search-button:focus {
	color: #ffffff;
	background-color: #000000;
}

.search-button:active {
	color: rgba(255, 255, 255, 0.3);
}

.action-list {
	flex-wrap: wrap;
	margin-right: 60px;
	width: 500px;
}

.action-item:first-child {
	margin-right: auto;
}

.action-item:last-child {
	margin-left: 40px;
}

.action-person-item {
	display: inline-block;
	margin-right: 20px;
}

.action-person-item:last-child {
	margin-right: 0px;
}

.action-icon {
	margin-right: 7px;
}

.header-nav {
	justify-content: space-between;
	padding-bottom: 50px;
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
}

.header-catalog {
	position: relative;
	margin-left: 60px;
}

.header-catalog-title {
	position: relative;
	letter-spacing: 3px;
	word-spacing: 5px;
}

.header-catalog-title::after {
	position: absolute;
	content: "";
	top: 3px;
	right: -30px;
	width: 16px;
	height: 16px;
	opacity: 0.3;
	background-image: url("../img/svg/plus.svg");
	background-repeat: no-repeat;
}

.header-catalog:hover .dropdown {
	visibility: visible;
}

.dropdown {
	position: absolute;
	flex-wrap: wrap;
	left: -60px;
	top: 20px;
	z-index: 60;
	width: 1100px;
	padding-top: 25px;
	padding-left: 60px;
	padding-bottom: 35px;
	font-family: "Open Sans Light", Arial, sans-serif;
	font-size: 15px;
	line-height: 36px;
	text-transform: none;
	background-color: #f7e296;
	visibility: hidden;
}

.dropdown-item {
	min-width: 140px;
	margin-right: 60px;
}

.dropdown-item:first-child {
	width: 180px;
}

.dropdown-item:last-child {
	margin-right: 0;
}

.header-features {
	margin-right: 60px;
	width: 500px;
}

.header-features-list {
	flex-wrap: wrap;
}

.header-features-item {
	margin-right: 35px;
	letter-spacing: 3.5px;
}

.header-features-item:last-child {
	margin-right: -3.5px;
	margin-left: auto;
}

/*** Подвал
========================*/

.main-footer {
	padding: 65px 0 60px 0;
	color: #ffffff;
	font-family: "Open Sans Light", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	background-color: #464646;
}

.main-footer .logo {
	margin: 0;
}

.main-footer a {
	color: #ffffff;
}

.footer-top {
	justify-content: space-between;
	margin-bottom: 10px;
}

.main-footer ul {
	list-style: none;
}

.main-footer .logo{
	fill: #ffc600;
}

.main-footer .action-list {
	margin: 0px;
	justify-content: flex-end;
}

.main-footer .action-item:last-child {
	margin: 0px;
}

.main-footer .action-item {
	margin-right: 43px;
}

.logo-html {
	margin-left: 55px;
}

.logo[href]:hover,
.logo[href]:focus,
.logo-html:hover,
.logo-html:focus,
.footer-features-item:hover,
.footer-features-item:focus {
	opacity: 0.6;
}

.logo[href]:active,
.logo-html:active,
.footer-features-item:active {
	opacity: 0.3;
}

.footer-middle {
	align-items: baseline;
	margin-bottom: 45px;
}

.footer-contacts {
	width: 300px;
	margin-top: 10px;
	margin-bottom: 15px;
}

.footer-contacts:last-child {
	text-align: right;
}

.footer-features-list {
	flex-wrap: wrap;
	justify-content: center;
	width: 560px;
	font-family: "Gilroy Extrabold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 3.45px;
	text-transform: uppercase;
}

.footer-features-item {
	padding: 17px;
}

.main-footer .action-link {
	fill: #ffc600;
	color: rgba(255, 255, 255, 0.7);
}

.main-footer .action-link:hover,
.main-footer .action-link:focus {
	fill-opacity: 0.6;
	color: rgba(255, 255, 255, 1);
}

.main-footer .action-link:active {
	fill-opacity: 0.3;
	color: rgba(255, 255, 255, 0.3);
}

.footer-bottom {
	align-items: center;
	min-height: 30px;
}

.footer-bottom::before {
	content: "";
	width: 80px;
	height: 7px;
	margin-bottom: 5px;
	background-color: #ffc600;
}

.footer-socials {
	flex-wrap: wrap;
	justify-content: center;
	width: 270px;
	margin-left: auto;
	margin-right: auto;
}

.social {
	width: 32px;
	height: 32px;
	margin-right: 11px;
	margin-left: 11px;
	margin-bottom: 9px;
	opacity: 0.3;
}

.social-fb {
	background-image: url("../img/svg/fb.svg");
	background-repeat: no-repeat;
	background-size: cover;
}

.social-inst {
	background-image: url("../img/svg/instagram.svg");
	background-repeat: no-repeat;
	background-size: cover;
}

.social-tw {
	background-image: url("../img/svg/twitter.svg");
	background-repeat: no-repeat;
	background-size: cover;
}

.main-footer .social:hover,
.main-footer .social:focus {
	opacity: 1;
}

.main-footer .social:active {
	opacity: 0.1;
}

/*** Главная страница
============================================================*/
/*** Слайдер
========================*/

.main-slider {
	margin-bottom: 110px;
}

.slider-background {
	background-image: linear-gradient(to bottom,
		#f7e296 0%,
		#f7e296 112px,
		#ffffff 112px,
		#ffffff 100%);
}

.tag-line {
	z-index: 10;
	color: #000000;
	font-size: 47px;
	line-height: 56px;
	letter-spacing: 0.45px;
	margin-top: 80px;
	margin-bottom: 19px;
}

.info {
	margin: 0;
	margin-bottom: 43px;
	letter-spacing: 0.2px;
}

.info-btn {
	margin-right: auto;
}

.slide {
	display: none;
	position: relative;
	justify-content: flex-start;
}

.slide.active {
	display: flex;
}

.slide::before {
	position: absolute;
	content: "";
	left: 600px;
	top: 40px;
	width: 100px;
	height: 7px;
	background-color: #ffffff;
}

.slide-image {
	margin: auto;
}
.slide-image img {
	vertical-align: bottom;
}
.slide-number {
	position: absolute;
	margin: 0;
	padding: 0;
	right: 50px;
	top: 75px;
	line-height: 1px;
	font-size: 179px;
	color: #ffffff;
}

.slide-content {
	position: relative;
	flex-direction: column;
	width: 560px;
	margin-left: 20px;
}

.slider-buttons {
	align-items: baseline;
	margin-bottom: 50px;
}

.slider-btn {
	padding: 0;
	width: 14px;
	height: 14px;
	margin-left: 18px;
	border: 1px dotted transparent;
	color: transparent;
	background-color: transparent;
	background-image: url("../img/svg/slider-button-empty.svg");
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
}

.slider-btn:focus {
	outline: none;
	border: 1px dotted #000000;
}

.slider-btn.checked {
	background-image: url("../img/svg/slider-button.svg");
	background-size: cover;
}

.slider-btn:last-child {
	margin-right: 85px;
}

.slider-info {
	border-collapse: collapse;
	text-align: left;
}

.table-value {
	display: table-header-group;
}

.table-description {
	display: table-footer-group;
}

.slider-info td {
	padding-right: 77px;
	padding-bottom: 7px;
	text-align: left;
	color: #000000;
	font-family: "Gilroy Light", Arial, sans-serif;
	font-size: 36px;
	line-height: 48px;
}

.slider-info th {
	padding-right: 77px;
	text-align: left;
	color: #000000;
	font-family: "Open Sans Light", Arial, sans-serif;
	font-size: 13px;
	line-height: 20px;
}

.slider-info th:last-child {
	padding-right: 0;
}

.info {
	font-family: "Open Sans Light", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
}

/*** Каталог
========================*/

.main-categories {
	margin-bottom: 80px;
}

.category-items-list {
	justify-content: space-between;
	list-style: none;
}

.category-item-background {
	width: 160px;
	height: 160px;
	background-color: rgba(240, 197, 46, 0.5);
}

.category-item-image {
	width: inherit;
	height: inherit;
	background-repeat: no-repeat;
	background-position: center;
}

.category-item:nth-child(2) .category-item-background {
	height: 125px;
	padding-top: 35px;
}

.category-item-title {
	width: 160px;
	margin-top: 32px;
	margin-bottom: 0px;
}

.category-item-link {
	color: #000000;
	font-size: 18px;
}

.category-item-background:hover,
.category-item-background:focus {
	background-color: rgba(240, 197, 46, 1);
}

.category-item-link:focus {
	outline: none;	
}

.category-item-link:focus .category-item-background {
	outline: 1px dotted gray;
}

.category-item-link:active .category-item-image,
.category-item-link:active .category-item-title {
	opacity: 0.3;
}

.category-item-image-1 {
	background-image: url("../img/svg/popular-1.svg");
}

.category-item-image-2 {
	background-image: url("../img/svg/popular-2.svg");
	background-position: bottom;
}

.category-item-image-3 {
	background-image: url("../img/svg/popular-3.svg");
}

.category-item-image-4 {
	background-image: url("../img/svg/popular-4.svg");
}

.category-item-image-5 {
	background-image: url("../img/svg/popular-5.svg");
}

.category-item-image-6 {
	background-image: url("../img/svg/popular-6.svg");
}

/*** Услуги
========================*/

.main-services {
	justify-content: space-between;
	margin-bottom: 95px;
	background: linear-gradient(to bottom,
		#ffffff 0%,
		#ffffff 100px,
		#e5e5e5 100px,
		#e5e5e5 100%);
}

.main-services-info {
	padding-right: 277px;
}

.main-services-info.active {
	display: block;
}

.main-services-choice {
	position: relative;
	width: 284px;
	padding-top: 80px;
	margin-bottom: 115px;
}

.main-services-choice::before {
	position: absolute;
	top: 0;
	right: 0;
	content: "";
	width: 7px;
	height: 320px;
	background-color: #000000;
}

.services-btn {
	position: relative;
	margin-bottom: 24px;
}

.main-services-choice .services-btn {
	cursor: pointer;
	width: 160px;
	z-index: 10;
}

.main-services-choice .services-btn:active,
.main-services-choice .selected {
	color: #f7e184;
	background: linear-gradient(to bottom,
		#000000 0%,
		#000000 100%);
}

.services-btn.selected:focus {
	box-shadow: -5px 0 0 #000000;
}

.services-btn.selected::after {
	position: absolute;
	content: "";
	top: 0;
	right: -120px;
	height: 100%;
	width: 121px;
	background-color: #000000;
}

.main-services-wrap {
	width: 830px;
}

.main-services-info {
	display: none;
	padding-top: 75px;
	margin-left: 116px;
	padding-bottom: 5px;
}

.main-services-info .text {
	margin: 30px 0;
}

.service-delivery {
	background-image: url("../img/svg/delivery.svg");
	background-repeat: no-repeat;
	background-position: 555px 85px;
}

.service-warranty {
	background-image: url("../img/svg/warranty.svg");
	background-repeat: no-repeat;
	background-position: 100% 60px;
}

.service-credit {
	background-image: url("../img/svg/credit.svg");
	background-repeat: no-repeat;
	background-position: 535px 65px;
}

/*** Бренды
========================*/

.main-brands-list {
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
	margin-bottom: 75px;
}

.main-brands-item {
	margin-bottom: 20px;
	width: 260px;
	height: 100px;
}

.main-brands-link img {
	vertical-align: bottom;
}

.main-brands-link {
	-webkit-filter: grayscale(1);
	        filter: grayscale(1);
	opacity: 0.2;
}

.main-brands-link:hover,
.main-brands-link:focus {
	-webkit-filter: grayscale(0);
	        filter: grayscale(0);
	opacity: 1;
}

/*** Особенности
========================*/

.main-feature {
	justify-content: space-between;
	margin-bottom: 60px;
}

.main-feature .title {
	margin: 50px 0 45px 0;
}

.main-feature p {
	font-family: "Open Sans Light", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	margin: 0 0 30px 0;
}

.feature-about-us {
	padding-right: 125px;
}

.feature-about-us-list {
	list-style: none;
	color: #000000;
	font-size: 16px;
	line-height: 40px;
	margin-top: 65px;
	margin-bottom: 54px;
}

.feature-about-us-item {
	position: relative;
	margin-left: 35px;
}

.feature-about-us-item::before {
	position: absolute;
	content: "";
	top: 15px;
	left: -35px;
	width: 4px;
	height: 4px;
	border: 2px solid #e5e5e5;
	border-radius: 50%;
}

.feature-about-us {
	position: relative;
	width: 560px;
}

.feature-contacts {
	position: relative;
	width: 560px;
}

.feature-about-us::before,
.feature-contacts::before {
	content: "";
	position: absolute;
	width: 80px;
	height: 8px;
	background-color: #000000;
}

.small-map {
	display: block;
	margin-top: 35px;
	margin-bottom: 47px;
}

.small-map img {
	vertical-align: bottom;
}

.btn-write-us,
.btn-about-us {
	display: block;
	width: 260px;
	margin-bottom: 20px;
}

/*** Модальные окна
============================================================*/

.modal {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	justify-content: center;
	align-items: center;
	align-content: center;
	overflow: auto;
	z-index: 100;
}

.modal-close {
	position: absolute;
	top: 21px;
	right: 21px;
	width: 56px;
	height: 56px;
	font-size: 0;
	border: none;
	background-color: transparent;
	background-image: url("../img/svg/modal-close.svg");
	background-repeat: no-repeat;
	opacity: 0.5;
	cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
	opacity: 1;
}

.modal-close:active {
	opacity: 0.3;
}

/*** Модальная карта
========================*/

.modal-map {
	position: relative;
	display: none;
	width: 960px;
	height: 559px;
	background-color: #ffffff;
	background-image: url("../img/map-big.png");
	background-repeat: no-repeat;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	-webkit-animation-name: modal-show;
	        animation-name: modal-show;
	-webkit-animation-duration: 0.8s;
	        animation-duration: 0.8s;
}

.map {
	width: 960px;
	height: 559px;
}

/*** Модальная форма
========================*/

.modal-form {
	position: relative;
	display: none;
	min-width: 760px;
	padding: 93px 100px 75px;
	background-color: #ffffff;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	-webkit-animation-name: modal-show;
	        animation-name: modal-show;
	-webkit-animation-duration: 0.8s;
	        animation-duration: 0.8s;
}

.modal-error {
	-webkit-animation-name: shake;
	        animation-name: shake;
	-webkit-animation-duration: 0.6s;
	        animation-duration: 0.6s;
}

.modal-label {
	color: #000000;
	font-size: 18px;
	line-height: 24px;

}

.modal-label {
	display: block;
	margin-bottom: 15px;	
}

.form-wrap {
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.btn-send {
	width: 200px;
}

.modal-form-feedback {
	flex-direction: column;
}

.label-title {
	display: block;
	margin-bottom: 5px;
}

.modal-input {
	box-sizing: border-box;
	width: 360px;
	padding: 13px 20px;
	color: #464646;
	font-family: "Open Sans Light", Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	border: 2px solid transparent;
	outline: none;
	background-color: rgba(230, 230, 230, 0.5);
}

.form-wrap .modal-label-half:nth-child(2n+1) {
	margin-right: 40px;
}

.modal-textarea {
	width: 100%;
	height: 155px;
	resize: none;
}

.modal-input:hover {
	background-color: rgba(230, 230, 230, 0.8);
}

.modal-input:focus,
.modal-input:active {
	color: #000000;
	background-color: #ffffff;
	border: 2px solid #f7e296;
}

.modal-input:invalid:focus {
	background-color: rgba(237, 181, 181, 0.5);
}

.modal-show {
	display: flex;
}

/*** Страница каталога
============================================================*/

.catalog-header {
	padding: 40px 80px 45px 80px;
	width: 1040px;
}

.catalog-header .title {
	margin-bottom: 22px;
}

.breadcrumbs {
	list-style: none;
}

.breadcrumbs-item {
	position: relative;
	margin-right: 40px;
}

.breadcrumbs-item:not(:last-child)::after {
	content: "";
	position: absolute;
	top: 10px;
	right: -20px;
	width: 4px;
	height: 7px;
	background-image: url("../img/svg/nav-arrow.svg");
}

.breadcrumbs a {
	color: #000000;
	opacity: 0.3;
	font-family: "Open Sans Light", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
}

.breadcrumbs a[href]:hover,
.breadcrumbs a[href]:focus {
	opacity: 0.6;
}

.breadcrumbs a[href]:active {
	opacity: 0.1;
}

.catalog-wrap {
	justify-content: space-between;
}

/*** Фильтр
========================*/

.catalog-filter {
	background-color: #efefef;
	width: 350px;
	flex-grow: 1;
	margin-left: auto;
}

.catalog-header-row {
	padding-top: 23px;
	padding-bottom: 23px;
}

.catalog-subtitle {
	margin: 0;
	line-height: 24px;
	color: #000000;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 3.45px;
}

.filter-wrapper {
	width: 200px;
	padding-right: 70px;
	padding-left: 80px;
}

.filter-title-wrap {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 70px;
	background-color: rgba(0, 0, 0, 0.08);
}

.filter-form {
	margin-left: auto;
}

.filter-form .button {
	min-width: 200px;
}

.filter-area {
	padding: 0;
	margin: 0;
	border: 0 none;
}

.filter-area-title {
	padding-top: 10px;
	min-width: 200px;
	border-top: 2px solid #000000;
	color: #000000;
	font-size: 18px;
	line-height: 25px;
}

.range-controls {
	position: relative;
	padding-bottom: 10px;
	margin-bottom: 57px;
}

.range-controls .scale {
	margin-top: 33px;
	min-width: 200px;
	height: 2px;
	background-color: #dbdbdb;
}

.range-controls .bar {
	width: 120px;
	height: 2px;
	background-color: #91c92f;
}

.range-controls .toggle {
	position: absolute;
	top: -10px;
	left: 0;
	width: 4px;
	height: 4px;
	padding: 0;
	border: 8px solid #ffffff;
	background-color: #ababab;
	box-shadow: 0 2px 1px 0 #cfcfcf;
	border-radius: 50%;
	cursor: pointer;
}

.range-controls .toggle-min {
  left: -5px;
}

.range-controls .toggle-max {
  left: 107px;
}

.range-controls .toggle-min:active {
  top: -11px;
  left: -6px;
  border: 9px solid #ffffff;
}

.range-controls .toggle-max:active {
  top: -11px;
  left: 106px;
  border: 9px solid #ffffff;
}

.range-wrap {
	position: absolute;
	display: flex;
	align-items: center;
}

.range-min {	
	top: 14px;
	left: -3px;
}

.range-max {
	top: 14px;
	left: -25px;
}

.range-label {
	padding-right: 5px;
	color: rgba(0, 0, 0, 0.2);
	font-family: "Open Sans Light", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
}

.range-value {
	color: rgba(0, 0, 0, 0.2);
	cursor: default;
	font-family: "Open Sans Light", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
/*	width: 50px;*/
	border: none;
	background-color: transparent;
}

.filter-list {
	color: rgba(0, 0, 0, 1);
	font-family: "Open Sans Light", Arial, sans-serif;
	font-size: 14px;
	line-height: 40px;
	list-style: none;
	margin-bottom: 30px;
}

.filter-item {
	position: relative;
	margin-left: 25px;
}

.filter-item:first-child {
	margin-top: 18px;
}

.filter-label {
	position: relative;
	padding-left: 15px;
	display: block;
	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.filter-checkbox + .checkbox-label::before {
	content: "";
	position: absolute;
	top: calc(50% - 12px);
	left: -25px;
	width: 24px;
	height: 24px;
	background-image: url("../img/svg/checkbox-off.svg");
	background-repeat: no-repeat;
	background-size: cover;
}

.filter-checkbox:checked + .checkbox-label::before {
	width: 28px;
	height: 24px;
	background-image: url("../img/svg/checkbox-on.svg");
	background-repeat: no-repeat;
	background-size: cover;
}

.filter-checkbox:hover + .filter-label::before,
.filter-checkbox:focus + .filter-label::before,
.filter-radio:hover + .filter-label::before,
.filter-radio:focus + .filter-label::before {
	opacity: 0.6;
}

.filter-checkbox:active + .filter-label::before,
.filter-radio:active + .filter-label::before {
	opacity: 1;
}

.filter-radio + .radio-label::before {
	content: "";
	position: absolute;
	top: 7px;
	left: -25px;
	width: 26px;
	height: 26px;
	background-image: url("../img/svg/radio-off.svg");
	background-repeat: no-repeat;
	background-size: cover;
}

.filter-radio:checked + .radio-label::before {
	width: 26px;
	height: 26px;
	background-image: url("../img/svg/radio-on.svg");
	background-repeat: no-repeat;
	background-size: cover;
}

.filter-checkbox:disabled + .checkbox-label::before,
.filter-radio:disabled + .radio-label::before {
	opacity: 0.25;
}

.filter-checkbox:disabled + .checkbox-label,
.filter-radio:disabled + .radio-label {
	color: #a6a6a6;
}

.filter-btn {
	width: 200px;
}

/*** Страница каталога
========================*/

.products {
	flex-direction: column;
	width: 850px;
	flex-grow: 1;
	margin-right: auto;
}

.sort-wrap {
	margin-bottom: 25px;
	min-width: 850px;
	background-color: #efefef;
}

.products-sort {
	align-items: baseline;
	justify-content: space-between;
	width: 760px;
	flex-grow: 1;
	padding-left: 70px;
}

.products .catalog-subtitle {
	margin-right: 55px;
}

.products-sort-list {
	flex-wrap: wrap;
	width: 560px;
	line-height: 18px;
	list-style: none;
}

.products-sort-item {
	margin-right: 30px;
}

.products-sort-item a {
	color: #000000;
	opacity: 0.3;
	font-family: "Open Sans Light", Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
}

.products-sort-item a:hover,
.products-sort-item a:focus {
	color: #000000;
	opacity: 0.6;
}

.products-sort-item a:active {
	color: #000000;
	opacity: 1;
}

.sort-type {
	order: 1;
	margin-right: 0;
	margin-left: auto;
}

.sort-type a {
	display: inline-block;
	margin-left: 17px;
	vertical-align: middle;
	width: 11px;
	height: 10px;
	font-size: 0;
}

.sort-up {
	background-image: url("../img/svg/icon-up-dir.svg");
	background-repeat: no-repeat;
	background-size: cover;
}

.sort-down {
	background-image: url("../img/svg/icon-down-dir.svg");
	background-repeat: no-repeat;
	background-size: cover;
}

.products-sort-item .sort-active {
	opacity: 1;	
}

.products-list {
	margin: 0;
	padding: 0;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: 70px;
	width: 760px;
	list-style: none;
}

.products-item {
	margin: 0;
	padding: 0;
	margin-top: 45px;
}

.price-wrap {
	justify-content: space-between;
	align-self: baseline;
	margin-top: 33px;
}

.price-wrap p {
	margin: 0;
	padding: 0;
}

.produсts-item-title {
	width: 260px;
	color: #000000;
	font-size: 18px;
}

.produсts-item-title:hover,
.produсts-item-title:focus {
	color: rgba(0, 0, 0, 0.6);
}

.produсts-item-title:active {
	color: rgba(0, 0, 0, 0.3);
}

.products-buttons {
	position:absolute;
	top: 180px;
	left: 80px;
	height: 70px;
	flex-direction: column;
	align-items: center;
	width: 200px;
	display: none;
}

.products-item {
	position: relative;
	width: 360px;
}

.products-item:hover .products-buttons {
	display: flex; 
}

.products-item:hover .produсts-item-image::before {
	display: block; 
}

.produсts-item-image {
	position: relative;
}

.produсts-item-image img {
	vertical-align: bottom;
} 

.produсts-item-image::before {
	position: absolute;
	content: "";
	width: 100%;
	min-height: 380px;
	background-color: rgba(238, 238, 238, 0.7);
	display: none;
}

.products-item p {
	color: #464646;
	font-family: "Gilroy Light", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
}

.product-new {
	position: relative;
}

.product-new::before {
	position: absolute;
	content: "";
	z-index: 10;
	right: 30px;
	top: 30px;
	width: 61px;
	height: 61px;
	background-image: url("../img/new.png");
	background-repeat: no-repeat;
}

.ghost-button {
	color: rgba(0, 0, 0, 0.6);
	font-family: "Open Sans Light", Arial, sans-serif;
	font-size: 13px;
	line-height: 20px;
	border: none;
	cursor: pointer;
	background-color: transparent;
}

.ghost-button:hover,
.ghost-button:focus {
	color: rgba(0, 0, 0, 1);
}

.ghost-button:active {
	color: rgba(0, 0, 0, 0.2);
}

.pagination-list {
	flex-wrap: wrap;
	align-items: center;
	width: 760px;
	min-height: 70px;
	margin-left: 70px;
	margin-top: 35px;
	margin-bottom: 75px;
	list-style: none;
	background-color: rgba(0, 0, 0, 0.08);
}

.pagination-item:first-child {
	margin-right: auto;
}

.pagination-item:last-child {
	margin-left: auto;
}

.pagination-btn {
	display: block;
	box-sizing: border-box;
	width: 130px;
	min-height: 70px;
	padding: 22px;
	text-align: center;
}

.pagination-link {
	margin: 0 15px;
}

.pagination-item a {
	color: rgba(0, 0, 0, 0.3);
	font-size: 16px;
	cursor: pointer;
}

.pagination-list .pagination-btn {
	text-transform:  uppercase;
	letter-spacing: 3.45px;
	color: rgba(0, 0, 0, 1);
}

.pagination-list .pagination-active {
	color: rgba(0, 0, 0, 1);
}

.pagination-btn[href]:hover,
.pagination-btn[href]:focus {
	background-color: rgba(0, 0, 0, 0.08);
}

.pagination-btn[href]:active {
	color: rgba(0, 0, 0, 0.3);
	background-color: rgba(0, 0, 0, 0.08);
}

.pagination-item .pagination-link[href]:hover,
.pagination-item .pagination-link[href]:focus {
	color: rgba(0, 0, 0, 0.6);
}

.pagination-item .pagination-link[href]:active {
	color: rgba(0, 0, 0, 1);
}