/*** Нестандартные шрифты
============================================================*/
@font-face {
	font-family: "Gilroy Light";
	src: local("Gilroy Light"),
		url("../fonts/gilroylight.woff"),
		url("../fonts/gilroylight.woff2");
}

@font-face {
	font-family: "Gilroy Extrabold";
	src: local("Gilroy Extrabold"),
		url("../fonts/gilroyextrabold.woff"),
		url("../fonts/gilroyextrabold.woff2");
}

@font-face {
	font-family: "Open Sans";
	src: local("Open Sans"),
		url("../fonts/opensans.woff"),
		url("../fonts/opensans.woff2");
}

@font-face {
	font-family: "Open Sans Light";
	src: local("Open Sans Light"),
		url("../fonts/opensanslight.woff"),
		url("../fonts/opensanslight.woff2");
}



/*** Общие правила
============================================================*/
body {
	margin: 0;
	padding: 0;
	font-family: "Gilroy Extrabold", Arial, sans-serif;
	font-size: 12px;
	line-height: 24px;
	color: #464646;
	background-color: #ffffff;
}
.container {
	width: 1160px;
	margin: 0 auto;
}
a {
	text-decoration: none;
}
body ul {
	margin: 0;
	padding: 0;
}
.title {
	margin: 0;
	padding: 0;
	color: #000000;
	font-size: 47px;
	line-height: 48px;
}
.visually-hidden {
	position: absolute; 
	width: 1px; 
	height: 1px; 
	margin: -1px; 
	padding: 0; 
	overflow: hidden; 
	border: 0; 
	clip: rect(0 0 0 0); 
}
.flex-container {
	display: flex;
}

/*** Кнопки
========================*/
.button {
	border: none;
	cursor: pointer;
	outline: none;
	min-width: 220px;
	color: black;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
	padding: 8px 0;
	background: linear-gradient(to bottom,
		transparent 0%,
		transparent 16px,
		#f0c52e 16px,
		#f0c52e 24px,
		transparent 24px,
		transparent 100%);
}
.button:hover,
.button:focus {
	background-image: linear-gradient(to bottom,
		#f0c52e 0%,
		#f0c52e 100%);
}
.button:active {
	color: rgba(0, 0, 0, 0.3);
}



/*** Шапка
========================*/
.main-header {
	padding-top: 22px;
	background-image: linear-gradient(to bottom,
		#ffffff 0%,
		#ffffff 40px,
		#f7e296 40px,
		#f7e296 100%);
}
.main-header ul {
	list-style: none;
}
.header-row {
	margin-bottom: 32px;
	font-family: "Open Sans Light", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
}
.main-header a {
	color: #000000;
}
.logo {
	margin-left: 60px;
	margin-right: 60px;
	margin-bottom: 18px;
}
.logo[href]:hover,
.logo[href]:focus,
.main-header a:hover,
.main-header a:focus {
	opacity: 0.6;
}
.logo[href]:active,
.main-header a:active {
	opacity: 0.3;
}
.header-row {
	justify-content: space-between;
	align-items: center;
}
.header-search {
	margin-left: 60px;
}
.search-area {
	min-width: 356px;
	min-height: 45px;
	border: none;
	color: #000000;
	outline: none;
	background-color: transparent;
}
.search-area:-ms-input-placeholder {
	opacity: 0.3;
}
.search-area::placeholder {
	opacity: 0.3;
}
.search-area:hover:-ms-input-placeholder {
	opacity: 0.6;
}
.search-area:hover::placeholder {
	opacity: 0.6;
}
.search-area:focus:-ms-input-placeholder {
	opacity: 1;
}
.search-area:focus::placeholder {
	opacity: 1;
}
.search-area:focus, 
.search-area:active,
.search-area-label:focus,
.search-area-label:active {
	border-bottom: 2px solid #000000;
}
.search-button {
	width: 81px;
	height: 45px;
	border: 2px solid #000000;
	background-color: transparent;
}
.search-button:hover,
.search-button:focus {
	color: #ffffff;
	background-color: #000000;
}
.search-button:active {
	color: rgba(255, 255, 255, 0.3);
}
.action-list {
	margin-right: 60px;
	width: 500px;
}
.action-item:first-child {
	margin-right: auto;
}
.action-item:last-child {
	margin-left: 42px;
}
.action-person-item {
	display: inline-block;
	margin-right: 20px;
}
.header-nav {
	justify-content: space-between;
	padding-bottom: 60px;
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
}
.header-catalog {
	position: relative;
	margin-left: 60px;
}
.header-catalog:hover .dropdown {
	visibility: visible;
}
.dropdown {
	position: absolute;
	left: -60px;
	top: 20px;
	width: 1100px;
	padding-top: 35px;
	padding-left: 60px;
	padding-bottom: 37px;
	font-family: "Open Sans Light", Arial, sans-serif;
	font-size: 15px;
	line-height: 36px;
	text-transform: none;
	background-color: #f7e296;
	visibility: hidden;
}
.dropdown-item {
	min-width: 140px;
	margin-right: 60px;
}
.dropdown-item:first-child {
	width: 180px;
}
.dropdown-item:last-child {
	margin-right: 0;
}
.header-features {
	margin-right: 60px;
	width: 500px;
}
.header-features-item {
	display: inline-block;
	margin-right: 60px;
}
.header-features-item:last-child {
	margin-right: 0px;
	margin-left: auto;
}




/*** Подвал
========================*/
.main-footer {
	padding: 65px 0;
	color: #ffffff;
	font-family: "Open Sans Light", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	background-color: #464646;
}
.main-footer .logo {
	margin: 0;
}
.main-footer a {
	color: #ffffff;
}
.footer-top {
	justify-content: space-between;
	margin-bottom: 35px;
}
.main-footer ul {
	list-style: none;
}
.main-footer .logo{
	fill: #ffc600;
}
.main-footer .action-list {
	margin: 0px;
	justify-content: flex-end;
}
.main-footer .action-item:last-child {
	margin: 0px;
}
.main-footer .action-item {
	margin-right: 43px;
}
.logo[href]:hover,
.logo[href]:focus,
.logo-html:hover,
.logo-html:focus,
.footer-features-item:hover,
.footer-features-item:focus {
	opacity: 0.6;
}
.logo[href]:active,
.logo-html:active,
.footer-features-item:active {
	opacity: 0.3;
}
.footer-middle {
	justify-content: space-between;
	align-items: baseline;
	margin-bottom: 65px;
}
.footer-features-list {
	justify-content: space-between;
	width: 425px;
	font-family: "Gilroy Extrabold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
}
.main-footer .action-link,
.main-footer .footer-social-link {
	fill: #ffc600;
	color: rgba(255, 255, 255, 0.7);
}
.main-footer .action-link:hover,
.main-footer .action-link:focus,
.main-footer .footer-social-link:hover,
.main-footer .footer-social-link:focus {
	fill-opacity: 0.6;
	color: rgba(255, 255, 255, 1);
}
.main-footer .action-link:active,
.main-footer .footer-social-link:active {
	fill-opacity: 0.3;
	color: rgba(255, 255, 255, 0.3);
}
.footer-bottom {
	justify-content: flex-end;
}
.footer-social-list {
	margin-right: 485px;
}

/*** Главная страница
============================================================*/
/*** Слайдер
========================*/
.main-slider {
	background-image: linear-gradient(to bottom,
		#f7e296 0%,
		#f7e296 115px,
		#ffffff 115px,
		#ffffff 100%);
	margin-bottom: 105px;
}
.tag-line {
	color: #000000;
	font-size: 47px;
	line-height: 56px;
	margin-top: 85px;
	margin-bottom: 30px;
}
.info {
	margin: 0;
	margin-bottom: 50px;
}
.info-btn {
	margin-right: auto;
}
.slide {
	justify-content: flex-start;
}
.slider-buttons {
	margin-bottom: 60px;
}
.slide-2,
.slide-3 {
	display: none;
}
.slide-image {
	margin: 0 auto;
}
.slide-content {
	flex-direction: column;
	width: 500px;
	margin-left: 20px;
	margin-right: 60px;
}

.slider-info {
	text-align: left;
}
.slider-info td {
	color: #000000;
	font-family: "Gilroy Light", Arial, sans-serif;
	font-size: 36px;
	line-height: 48px;
}
.slider-info th {
	color: #000000;
	font-family: "Open Sans Light", Arial, sans-serif;
	font-size: 13px;
	line-height: 20px;
}
.slider-btn {
	cursor: pointer;
}
.info {
	font-family: "Open Sans Light", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
}

/*** Каталог
========================*/
.main-catalog {
	margin-bottom: 80px;
}
.graphic-catalog-list {
	justify-content: space-between;
	list-style: none;
}
.item-background {
	width: 160px;
	height: 160px;
	justify-content: center;
	align-items: center;
	background-color: rgba(240, 197, 46, 0.5);
}
.item-title {
	width: 160px;
	margin-top: 35px;
	margin-bottom: 0px;
}
.item-image {
	margin: auto;
}
.graphic-catalog-item a {
	color: #000000;
	font-size: 18px;
}
.item-background:hover,
.item-background:focus {
	background-color: rgba(240, 197, 46, 1);
}



/*** Услуги
========================*/
.main-services {
	background-color: #e5e5e5;
	justify-content: space-between;
	margin-bottom: 105px;
}
.main-services-choice {
	width: 280px;
	padding-top: 80px;
}
.services-btn {
	margin-bottom: 24px;
}
.main-services-choice .services-btn {
	cursor: pointer;
	width: 160px;
}
.main-services-choice .services-btn:active,
.main-services-choice .selected {
	width: 100%;
	color: #f7e184;
	background: linear-gradient(to bottom,
		#000000 0%,
		#000000 100%);
}
.main-services-wrap {
	flex-direction: column;
	width: 760px;
}
.main-services-info {
	padding-top: 80px;
	margin-left: 120px;
}
.main-services-info p {
	margin: 0;
	margin-top: 30px;
	margin-bottom: 150px;
	padding: 0;
	font-family: "Open Sans Light", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
}
.service-2,
.service-3 {
	display: none;
}

/*** Бренды
========================*/
.main-brands-list {
	justify-content: space-around;
	list-style: none;
	margin-bottom: 105px;
}



/*** Особенности
========================*/
.main-feature {
	justify-content: space-between;
	margin-bottom: 90px;
}
.main-feature .title {
	margin: 55px 0;
}
.main-feature p {
	font-family: "Open Sans Light", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	margin: 0 0 45px 0;
}
.feature-about-us-list {
	list-style: none;
	color: #000000;
	font-size: 16px;
	line-height: 40px;
	margin-top: 35px;
}
.feature-about-us {
	flex-direction: column;
	justify-content: flex-start;
	width: 560px;
}
.feature-contacts {
	flex-direction: column;
	justify-content: flex-start;
	width: 560px;
}
.small-map {
	margin-bottom: 75px;
}
.btn-write-us,
.btn-about-us {
	width: 260px;
	margin-top: auto;
}



/*** Модальная карта
========================*/
.map {
	width: 960px;
	height: 559px;
}
.modal-map {
	background-image: url("../img/map-big.png");
	background-repeat: no-repeat;
}
.modal-close {
	cursor: pointer;
}


/*** Модальная форма
========================*/
.modal-form {
	width: 760px;
	padding: 90px 100px 80px;
}
.modal-form label {
	color: #000000;
	font-size: 18px;
}
.form-wrap {
	justify-content: space-between;
}
.form-name,
.form-mail {
	width: 360px;
}
.btn-send {
	width: 200px;
}
.modal-form-feedback {
	flex-direction: column;
}
.modal-input {
	margin-bottom: 40px;
	color: #464646;
	font-family: "Open Sans Light", Arial, sans-serif;
	font-size: 15px;
	border: none;
	outline: none;
	background-color: rgba(230, 230, 230, 0.5);
}
.modal-input:hover {
	background-color: rgba(230, 230, 230, 0.8);
}
.modal-input:focus,
.modal-input:active {
	color: #000000;
	background-color: #ffffff;
	border: 2px solid #f7e296;
}



/*** Страница каталога
============================================================*/
.catalog-content .title {
	margin-bottom: 35px;
}
.breadcrumbs {
	list-style: none;
}
.breadcrumbs a {
	color: rgba(0, 0, 0, 0.3);
	font-family: "Open Sans Light", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
}
.breadcrumbs a[href]:hover,
.breadcrumbs a[href]:focus {
	color: rgba(0, 0, 0, 0.6);
}
.breadcrumbs a[href]:active {
	color: rgba(0, 0, 0, 0.1);
}
.breadcrumbs-wrap {
	flex-direction: column;
	padding: 40px 0 50px 60px;
	width: 1100px;
}
.breadcrumbs-item {
	margin-right: 40px;
}
.catalog-wrap {
	justify-content: space-between;
}

/*** Фильтр
========================*/
.catalog-filter {
	background-color: #efefef;
	width: 330px;
	margin-left: auto;
	flex-grow: 1;
}
.catalog-header-row {
	padding-top: 23px;
	padding-bottom: 23px;
}
.catalog-subtitle {
	margin: 0;
	line-height: 24px;
	color: #000000;
	font-size: 16px;
}
.filter-wrapper {
	width: 200px;
	padding-right: 70px;
}
.filter-title-wrap {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 70px;
	background-color: rgba(0, 0, 0, 0.08);
}
.filter-form {
	flex-direction: column;
	margin-left: auto;
}
.filter-form .button {
	min-width: 200px;
}
.filter-area legend {
	color: #000000;
	font-size: 18px;
}
.range-control label {
	color: rgba(0, 0, 0, 0.2);
	font-family: "Open Sans Light", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
}
.range-control-value {
	color: rgba(0, 0, 0, 0.2);
	font-family: "Open Sans Light", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	border: none;
	background-color: transparent;
}
.color-list,
.bluetooth-list {
	color: rgba(0, 0, 0, 1);
	font-family: "Open Sans Light", Arial, sans-serif;
	font-size: 14px;
	line-height: 40px;
}


/*** Страница каталога
========================*/
.products {
	flex-direction: column;
	width: 830px;
	flex-grow: 1;
	margin-right: auto;
}
.sort-wrap {
	margin-bottom: 70px;
	background-color: #efefef;
}
.products-sort {
	align-items: baseline;
	justify-content: space-between;
	width: 756px;
	flex-grow: 1;
	padding-left: 75px;
}
.products .catalog-subtitle {
	margin-right: 55px;
}
.products-sort-list {
	width: 560px;
	list-style: none;
}
.products-sort-item {
	margin-right: 30px;
	line-height: 24px;
}
.products-sort-item:nth-child(3) {
	margin-right: auto;
}
.products-sort-item:last-child {
	margin-right: 0;
}
.products-sort-item a {
	color: rgba(0, 0, 0, 0.3);
	font-family: "Open Sans Light", Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
}
.products-sort-item a:hover,
.products-sort-item a:focus {
	color: rgba(0, 0, 0, 0.6);
}
.products-sort-item a:active {
	color: rgba(0, 0, 0, 1);
}
.products-list {
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: 75px;
	width: 756px;
	list-style: none;
}
.products-item {
	margin-bottom: 45px;
}
.price-wrap {
	justify-content: space-between;
	align-self: baseline;
}
.price-wrap p {
	margin: 0;
	padding: 0;
}
.produсts-item-title {
	color: #000000;
	font-size: 18px;
}
.produсts-item-title:hover,
.produсts-item-title:focus {
	color: rgba(0, 0, 0, 0.6);
}
.produсts-item-title:active {
	color: rgba(0, 0, 0, 0.3);
}
.products-buttons {
	position:absolute;
	top: 180px;
	left: 80px;
	height: 70px;
	flex-direction: column;
	align-items: center;
	width: 200px;
	display: none;
}
.products-item {
	position: relative;
	width: 360px;
}
.products-item:hover .products-buttons {
	display: flex; 
}
.products-item p {
	color: #464646;
	font-family: "Gilroy Light", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
}
.ghost-button {
	color: rgba(0, 0, 0, 0.6);
	font-family: "Open Sans Light", Arial, sans-serif;
	font-size: 13px;
	line-height: 20px;
	border: none;
	cursor: pointer;
	background-color: transparent;
}
.ghost-button:hover,
.ghost-button:focus {
	color: rgba(0, 0, 0, 1);
}
.ghost-button:active {
	color: rgba(0, 0, 0, 0.2);
}
.pagination-list {
	justify-content: space-between;
	align-items: center;
	width: 756px;
	min-height: 70px;
	margin-left: 75px;
	margin-bottom: 80px;
	list-style: none;
	background-color: rgba(0, 0, 0, 0.08);
}
.pagination-item:first-child {
	margin-left: 30px;
	margin-right: 240px;
}
.pagination-item:last-child {
	margin-right: 30px;
	margin-left: 240px;
}
.pagination-item a {
	color: rgba(0, 0, 0, 0.3);
	font-size: 16px;
	cursor: pointer;
}
.pagination-list .pagination-btn {
	color: rgba(0, 0, 0, 1);
}
.pagination-list .pagination-active {
	color: rgba(0, 0, 0, 1);
}
.pagination-btn[href]:hover,
.pagination-btn[href]:focus {
	background-color: rgba(0, 0, 0, 0.08);
}
.pagination-btn[href]:active {
	color: rgba(0, 0, 0, 0.3);
	background-color: rgba(0, 0, 0, 0.08);
}
.pagination-item .pagination-link[href]:hover,
.pagination-item .pagination-link[href]:focus {
	color: rgba(0, 0, 0, 0.6);
}
.pagination-item .pagination-link[href]:active {
	color: rgba(0, 0, 0, 1);
}